.recommended>.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px;
    margin-bottom: 500px;
}
.recommended{
    background-color: #F1F1F1;
}

.referalBox{
    position: relative;
    bottom: 67px;
    left: 33%;
    height: 116px;
    width: 432px;
    padding: 31px;
    background-color: white;
    display: flex;
    border-radius:25px;
    box-shadow: 0 0 32px 0 rgba(84, 189, 226, 0.36);
}

.referalbutton,.viewallbutton{
    border: none;
    background-color: #4EC1E6;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding: 0px 10px;
    height: 21px;
    width: 98px;
    display: inline-flex;
    margin-top: 12px;
}
.viewallbutton{
    width: 148px;
    height: 25px;
    align-items: center;
    justify-content: start;
    display: flex;
}

.referalBox>.span{
    display: flex;
    height: 100%;
    flex-flow: column;
}
.kinderflower{
    margin-right: 31px;
}

.referalBox>.span{
    width: 100%;
    font-weight: 300;
    color: grey;
    font-size: 21px;
}

.recommendedtext{
    font-weight: 300;
}
.seeall{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 32px;
    color: rgb(166, 166, 166);
}

.recommendedElements,.rightelements{
    display: inline-flex;
}
.recommendedElements{
    width: 100%;
    justify-content: space-evenly;
}
.recommendedtext:before{
    content: "";
    height: 30px;
    height: 300px;
    background-color: black;
}


@media only screen and (min-width: 1200px) {
    .referalBox{
        left: 33%;
    }
}
@media only screen and (max-width: 1200px) {
    .referalBox{
        left: 29%;
    }
}
@media only screen and (max-width: 992px) {
    .referalBox{
        left: 29%;
    }
    .recommended>.container{
        grid-template-rows: 100px 500px;
    }
    .recommend1>.card,.recommend2>.card{
        width: 227px;
    }
}

@media only screen and (max-width: 768px) {
    .referalBox{
        left: 1.7%;
        bottom: 0;
        top: 12px;
    }  
      
    .recommended>.container{
        grid-template-rows: 200px 500px;
    }
    .recommend1>.card{
        width: 242px;
    }
    .leftElements{
        /* width: 381px; */
    }
}
@media only screen and (max-width: 500px) {
    .referalBox{
        left: 14%;
    }
    .referalBox>.span{
        font-size: 14px;
    }
    .recommendedElements{
        flex-direction: column;
    }
}
@media only screen and (max-width: 467px) {
    .referalBox{
        left: 12%;
        width: 313px;
    }
.referalBox>.span{
    font-size: 14px;
}
}
@media only screen and (max-width: 420px) {
    .referalBox{
        left: 8%;
        width: 313px;
    }
.referalBox>.span{
    font-size: 14px;
}
}
@media only screen and (max-width: 420px) {
    .referalBox{
        left: 0.2%;
        width: 313px;
    }
.referalBox>.span{
    font-size: 14px;
}
.leftElements{
    /* width: 344px; */
}
}
