.Header{
    width: 100%;
    background-color: #4EC1E6;
    background-image: url('assets/images/flower_left.png');
    background-repeat: no-repeat;
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
}

.child_details{
    padding: 0px 40px;
}

.classDetails{
    height: 102px;
    width: 340px;
    background-color: white;
    border-radius: 20px;
    background-image: url('assets/images/dashboard/circles.png');
    background-repeat: no-repeat;
    background-position: 0px 67px;
    overflow: hidden;
}

.baby_details{
    align-items: center;
}

.babyAge::after,.babyheight::after,.babyweight::after{
    content:"";
    align-self: center;
    width: 0.5px;
    margin-left:30px;
    background: white;
    height: 40px;
}
.babyAge{
    width:169px;
}



.babyImg{
    border-radius: 50px;
    height: 86px;
    weight: 86px;
}

.babyAge,.babyheight,.babyweight{
    margin-left: 30px;
    height: 65px;
    color: white;
}

.babyheight>.col,.babyweight>.col{
    align-items: center;
}

.classpack_details{
    margin-left: 36px;
    justify-content: center;
}

.classpack_details>.remaining{
    color: #E69E9C;
    font-weight: 600;
    font-size:13px;
}

.classpack_details>.expiry{
    font-size: 13px;
    font-weight: 300;
}

.classDetails>.book{
    height:50px;
    width: 66px;
    align-self: center;
    margin-left: 25px;
}
.HeaderContainer{
    justify-content: space-around;

}
.child_details{
    padding: 0px;
    justify-content: space-around;
}
div>h3{
    font-size: 23px;
}

div>h5{
    font-size: 16px;
}
.h6, h6 {
    font-size: 13px;
}
.h4, h4 {
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .HeaderContainer{
        width: 100%;
        padding: 0px;
        justify-content: space-around;
        display: flex;
    }
    .child_details{
        padding: 0px;
        justify-content: space-around;
    }

}

@media only screen and (max-width: 992px) {

    .child_details{
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 570px) {
    .baby_details{
        flex-direction: column;
    }
}
@media only screen and (max-width: 570px) {
 .babyAge{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 129px;
 }
 div>h3{
     font-size: 18px;
 }
 div>h5{
     font-size: 12px;
 }
 .babyAge{
     margin: 0px;
 }
 .babyAge::after{
    margin:0px;
 }
 .babyheight::after{
     margin:9px;
 }
.babyweight,.babyheight{
    margin-left: 13px;
}
.babyheight{
    width: 94px;

}
}

